    <header class="navBar">
        <div class="logo"><img src="http://localhost:4343/static/PokeÌdex_logo.png"></div>
        <div class="headerImg" ><img src="http://localhost:4343/static/header-pic.jpg"></div>
        </div>
    </header>
