    <header class="navBar">
        <div ><img class="logo" src="http://localhost:4343/static/PokeÌdex_logo.png"></div>
        <div  ><img class="headerImg" src="http://localhost:4343/static/header-pic.jpg"></div>
        </div>
    </header>
