<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
  <body>
    <h1>Pokedex</h1>
    <ul>
      <% for( let pokedude in allMon ) { %>
      <li>
        <a href="/pokemon/<%=pokedude%>"><%=allMon[pokedude].name %></a>
      </li>
      <% } %>

    </ul>
  </body>
</html>
