body {
    color: blanchedalmond;
    background-color: rgb(208, 21, 21);
    width: 80%;
    margin:auto;
    font-family: "Flexo-Demi",arial,sans-serif;

}

.container {
    display: grid;
    background-color: azure;
    grid-template-columns: repeat(auto-fit, 200px);
    /* grid-template-rows: auto auto auto; */
    /* grid-auto-rows: 0px; */
    /* overflow:hidden; */
    max-width: 1000px;
    justify-content: center;
  
}

header {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    max-width: 1000px;
    justify-content: space-between;
}

img {
    max-width: 100%;
    max-height: 100%;
}


.items {
    display: grid;
    border-radius: 25px;
    border: 2px solid #696962;
    margin: 6px;
    padding: 8px;
    background-color: white;
    justify-items: center;
    align-items: center;
    /* width: 200px;
    height: 250px; */
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.types {
    display: flex;
    gap: 5px;
}

.stats {
    display: flex;
    gap: 5px;
}

h3, h5, h4 {
    margin: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: #696962;
}

.pokemonDetail {
    display: grid;
    background-image: url("pokedex.png");
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    max-width: 1000px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    aspect-ratio: 1/1;
    grid-template-areas:
      ". . . . . . . . . . . . . ."
      ". . . . . . . . . . . . . ."
      ". . . . . . . . . . . . . ."
      ". image image image image image . . detail detail detail detail detail ."
      ". image image image image image . . detail detail detail detail detail ."
      ". image image image image image . . . . . . . ."
      ". . . . . . . . . . . . . ."
      ". . . . . . . . . . . . . ."
      ". . . . . . . . edit edit . delete delete ."
      ". . . . . . . . . . . . . ."
      ". . . . . . . . . . . . . ."
      ". . . . . . . . . . . . . ."
      ". . . . . . . . . . . . . ."
      ". . . . . . . . . . . . . ."
}

.pokemonDetail > #image {
    grid-area: image;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.pokemonDetail > #detail {
    grid-area: detail;
    padding: 1em;
}

.pokemonDetail > #edit {
    grid-area: edit;
    margin: auto;
}

.pokemonDetail > #delete {
    grid-area: delete;
    margin: auto;
}

input[type="submit"], button{
	background: none;
	color: blanchedalmond;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: none;
}

input[type=text] {
  width: 75%;
}

#hp {
    color: green;
}

#attack {
    color: red;
}

#defense {
    color: orange;
}

#speed {
    color: rgb(0, 153, 255);
}


/* ***************************
** Tablet Media Query
*************************** */

@media screen and (min-width: 480px) and (max-width: 767px){
    .headerImg, .logo {
        max-width: 250px;
    }
}

/* ***************************
** Desktop Media Query
*************************** */

@media screen and (min-width: 767px) and (max-width: 970px){
    .headerImg, .logo {
        max-width: 300px;
    }
}

/* ***************************
** Mobile Media Query
*************************** */

@media screen and (min-width: 500px) and (max-width: 625px){
    .headerImg, .logo {
        max-width: 200px;
    }
}


/* for when I get the overflow thing figured out */
/* #loadMore {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    max-width: 1000px;
    justify-content: center;
} */

/* #loadMore span {
    display: inline-block;
    margin: 0 auto;
    font-size: 100%;
    font-family: "Flexo-Demi",arial,sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    line-height: 125%;
    margin: 1.5625%;
    padding: 0.75em 1.25em 0.675em;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
}

.button {
    background-color: #30a7d7;
    color: #fff;
} */
